# Catch-all vhost
:80 {
    root /var/www
    proxy /leafApi 127.0.0.1:8000
    proxy /api 127.0.0.1:8001 {
        without /api
    }
    header / {
        Access-Control-Allow-Origin  *
        Access-Control-Allow-Methods "GET, POST, OPTIONS"
        Access-Control-Allow-Headers "Content-Type"
    }
    gzip
    mime .manifest text/cache-manifest
}