[Unit]
Description=Mining poor for Monero - Remote Share
After=network.target

[Service]
WorkingDirectory=/usr/share/nodejs-pool
ExecStart=/usr/bin/nodejs /usr/share/nodejs-pool/init.js --name=remoteShare --log-date-format="YYYY-MM-DD HH:mm Z" --module=remoteShare
Restart=always
User=nodejs-pool

[Install]
WantedBy=multi-user.target
